.Logo a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: all 0.2s ease;
  color: white;
  padding: 10px;
}

.Logo a:hover {
  opacity: 60%;
}

p,
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: black;
}

.Navigation-Element a {
  padding: 10px;
  transition: all 0.2s ease;
  color: white;
}

.Navigation-Element a:hover {
  opacity: 60%;
}

.SectionTitle {
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.Development-Item p {
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.Development-Item-Small p {
  text-align: left;
  margin: auto;
}

.Hero-Textbox p {
  color: white;
}

.Hero-Title1 {
  font-size: 15px;
  display: inline-block;
}

.Hero-Title2 {
  font-size: 40px;
  display: inline-block;
  font-weight: bold;
}

.Hero-Content {
  font-size: 30px;
}

.Development-Text {
  font-weight: normal;
  padding-right: 10px;
  width: 60%;
}

.Caption {
  font-weight: normal;
  font-size: smaller;
}

.Kaizen {
  text-align: center;
  font-weight: normal;
  font-size: 15em;
  line-height: 1em;
}

.Credit {
  font-size: smaller;
}

.ProjectTitle1,
.ProjectTitle2,
.ProjectTitle3,
.ProjectTitle4,
.ProjectTitle5,
.ProjectTitle6 {
  font-weight: bold;
}
