* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 0.1rem;
}

body {
  margin: 0;
  padding-top: 4.1rem;
  background-color: rgb(255, 254, 241);
  background-color: #e3f0ff;
}
.Navigation-Spacer {
  flex: 1;
  pointer-events: none;
}

.Navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 10000;
  pointer-events: none;
}

.Navigation-Element {
  padding: 0px 1.5rem;
  display: inline-block;
  pointer-events: visible;
}

.Logo {
  pointer-events: visible;
}

.js-color {
  font-weight: bold;
}

#Contact {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Contact-Buttons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  height: 32%;
}

.Contact-Button img {
  height: 100%;
}
