.contacticons{
    width: 30px;
    cursor: pointer;
}

.BubbleVideo{
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-position: 0% 10%;
    filter: brightness(110%);
    filter: contrast(1.8);
}


@media (max-width: 950px) {
    .BubbleVideo{
        height: 300px;
    }
}
